* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins",sans-serif;
}
:root {
  --bg-color: #080808;
  --second-bg-color: #131313;
  --text-color: white;
  --main-color: #0084ff;
}

/* font */

.poppins-thin{
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}


html {
  font-size: 60%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 200px;
  gap: 20px;
}

#SHIMANLOO {
  color: white;
  font-size: 4rem;
}

#Projects {
  color: #0084ff;
  font-size: 3rem;
}


#SOS {
  display: flex;
  flex-direction: column;
  gap: 50px;
  
}


.p1 {
  display: flex;
  max-width: 1351PX;
  margin: auto;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  transition: 0.4s ease-in-out;
}

.p1 :hover {
  border: 3px solid var(--main-color);
  transform: translateY(-10px)scale(1.03);
  box-shadow: 0 0 50px var(--main-color);
}


.p3 {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 25%;
  height: 380px;
  border: solid rgb(70, 70, 70);
  border-radius: 30px;
  cursor: pointer;
  gap: 30px;
  transition: 0.4s ease-in-out;
}

.p3:visited{
    color: inherit;
}


.picme{
  width: 100%;
  height: auto;
  border-radius: 27px 27px 0 0;
  pointer-events: none;
}

.imgd{
  pointer-events: none;
}

.mtn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.3rem;
  padding-top: 10px;
  gap: 30px;
  pointer-events: none;
}


.footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 30px 0;
  margin-top: 50px;
  background-color: var(--second-bg-color);
}
.btn {
  display: flex;
  justify-content: center;
  width: 12%;
  margin-left: 43.5%;
  padding: 20px 10px;
  border-radius: 10px;
  font-size: 13px;
  font-weight: bold;
  background-color: #0084ff;
  color: black;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.btn:hover {
  transform: scale(1.05);
  background-color: black;
  color: white;
}

.footer .copyright{
  margin-top: 50px;
  text-align: center;
  font-size: 16px;
  color: white;
}


@media(max-width:1024px) {
  .mtn{
    font-size: 1rem;
  }
  .btn{
    padding: 15px 15px;
    font-size: 11px;
    width: 15%;
    margin-left: 42%;
  }
  .p3{
    width: 27%;
    height: 300px;
  }
}


@media(max-width:768px) {
  .mtn{
    font-size: 0.7rem;
  }
  .btn{
    padding: 10px 10px;
    font-size: 10px;
    width: 20%;
    margin-left: 40%;
  }
  .p3{
    width: 28%;
    height: 240px;
    gap: 20px;
  }
  .p1{
    gap: 30px;
  }
}


@media(max-width:480px) {
  #SOS{
    gap: 13px;
  }
   .mtn{
    font-size: 0.4rem;
  }
   .btn{
    padding: 10px 5px;
    font-size: 10px;
    width: 28%;
    margin-left: 37%;
  }
  .p3{
    width: 30%;
    height: 170px;
    gap: 10px;
  }
  .p1{
    gap: 13px;
  }
}