
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins",sans-serif;
}
:root {
  --bg-color: #111111;
  --second-bg-color: #080808;
  --text-color: white;
  --main-color: #0084ff;
}

/* font */

.poppins-thin{
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}


html {
  font-size: 60%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 4rem 7% 4rem;
  background-color: var(--bg-color);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
}


.logo{
  font-size: 3rem;
  color: var(--text-color);
  font-weight: 800;
  cursor: pointer;
  transition: 0.3s ease;
}
.logo:hover{
  transform: scale(1.1);
}
.logo span{
  text-shadow: 0 0 25px var(--main-color);
}
.navbar a{
  font-size: 1.8rem;
  color: var(--text-color);
  margin-left: 4rem;
  font-weight: 500;
  transition: 0.3s ease;
  border-bottom: 3px solid transparent;
}
.navbar a:hover,.navbar a.active{
  color: var(--main-color);
  border-bottom: 3px solid var(--main-color);
}
#menu-icon{
  font-size: 3.6rem;
  color: var(--main-color);
  display: none;
}

section{
  padding: 105px 0 20px 0;
}
.section-inner{
  max-width: 1200px;
  margin: 0 auto;
}
#home{
  padding-bottom: 70px;
}
.home{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15rem;
}
.home-content{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  text-align: left;
  justify-content: center;
  margin-top: 3rem;
}
span{
  color: var(--main-color);
}
.logo span{
  color: var(--main-color);
}
.home-content h3{
  margin-bottom: 2rem;
  margin-top: 1rem;
  font-size: 3.5rem;
  user-select: none;
}
.home-content h1{
  font-size: 5rem;
  font-weight: 700;
  margin-top: 1.5rem;
  line-height: 1;
  user-select: none;
}
.home-img img{
  position: relative;
  width: 32vw;
  border-radius: 3%;
  /* box-shadow: 0 0 17px var(--main-color);
  cursor: pointer;
  transition: 0.4s ease-in-out; */
  user-select: none;
}
/* .home-img img:hover{
  box-shadow: 0 0 20px var(--main-color),
  0 0 37px var(--main-color), 0 0 80px var(--main-color);
} */
.home-content p{
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.8;
  max-width: 1000px;
  user-select: none;
}
.social-icons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}
.social-icons a{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4.5rem;
  height: 4.5rem;
  background: transparent;
  border: 2px solid var(--main-color);
  font-size: 2.5rem;
  border-radius: 50%;
  color: var(--main-color);
  background-color: var(--bg-color);
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.3s ease-in-out;
}
.social-icons a:hover{
  color: var(--bg-color);
  transform: scale(1.3)translateY(-5px);
  box-shadow: 0 0 25px var(--main-color);
  background-color: var(--main-color);
}
.btn{
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  box-shadow: 0 0 25px var(--main-color);
  border-radius: 4rem;
  font-size: 1.6rem;
  color: black;
  border: 2px solid transparent;
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.btn:hover{
  transform: scale(1.05);
  box-shadow: 0 0 50px var(--main-color);
}
.btn-group{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
.btn-group a:nth-of-type(2){
  background-color: black;
  color: var(--main-color);
  border: 2px solid var(--main-color);
  box-shadow: 0 0 25px transparent;
}
.btn-group a:nth-of-type(2):hover{
  box-shadow: 0 0 25px var(--main-color);
  background-color: var(--main-color);
  color: black;
}
.text-animation {
  font-size: 34px;
  font-weight: 600;
  min-width: 280px;
}

.text-animation span {
  position: relative;
}

.text-animation span::before {
  content: "Web Developer";
  color: var(--main-color);
  animation: words 20s infinite;
}

.text-animation span::after {
  content: "";
  background-color: var(--bg-color);
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  border-left: 3px solid var(--bg-color);
  right: -8px;
  animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
  to {
    border-left: 2px solid var(--main-color);
  }
}

@keyframes words {
  0%,20%   { content: "Web Developer"; }
  21%,40%  { content: "wordpress expert"; }
  41%,60%  { content: "Front Developer"; }
  61%,80%  { content: "UI Designer"; }
  81%,100% { content: "IT Support"; }
}

@keyframes typing {
  10%,15%,30%,35%,50%,55%,70%,75%,90%,95% { width: 0; }
  5%,20%,25%,40%,45%,60%,65%,80%,85%     { width: calc(100% + 8px); }
}
.heading{
  font-size: 5rem;
  text-align: center;
  user-select: none;
  /* margin: 5rem 0; */
}
.education{
  background: var(--second-bg-color);
}
.education h2{
  margin-bottom: 5rem;
}






.portfolio-slider {
  text-align: center;
  background: var(--second-bg-color);
  color: #fff;
  padding-top: 110px;
  font-family: 'Poppins', sans-serif;
}
.slider-title {
  font-size: 4rem;
  margin-bottom: 4rem;
  font-weight: 800;
  user-select: none;
}
.slider-title span {
  color: #2d9cff;
}

.slider-wrapper {
  position: relative;
  max-width: 90%;
  margin: auto;
}

.slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(45,156,255,0.8);
  color: #fff;
  border: none;
  font-size: 3rem;
  padding: 0 18px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 10;
  transition: background 0.3s;
}
.slider-btn:hover {
  background: #1c6ed3;
}
.prev { left: -55px; }
.next { right: -55px; }

.slider-container {
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  padding: 10px 0;
}
.slider-track {
  display: flex;
  gap: 30px;
  padding-right: 30px;
}
.card {
  flex: 0 0 340px;
  background: #111;
  border-radius: 2rem;
  border: 2px solid rgba(238,238,238,0.15);
  scroll-snap-align: start;
  transition: transform 0.3s, box-shadow 0.3s, border 0.3s;
  overflow: hidden;
}
.card:hover {
  /* transform: translateY(-10px) scale(1.05); */
  /* box-shadow: 0 5px 10px rgba(45,156,255,0.5); */
  border: 2px solid #2d9cff;
}

/* Card content */
.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}
.card-info {
  padding: 20px;
  text-align: center;
}
.card-info h3 {
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: #2d9cff;
}
.card-info p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #ccc;
}
.btn-view {
  display: inline-block;
  background: #2d9cff;
  color: black;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 1.2rem;
  transition: 0.3s;
}
.btn-view:hover {
  background: #1c6ed3;
}

.slider-container::-webkit-scrollbar {
  display: none;
}

.probtn{
  font-size: 15px;
  font-weight: bold;
  padding: 10px 50px;
  cursor: pointer;
  margin-bottom: 20px;
  background-color: #0084ff;
  border: solid #0084ff;
  border-radius: 10px;
  transition: 0.3s;
}

.probtn:hover{
  color: white;
  background-color: black;
}

.probtn:visited{
  color: initial;
}

.probtn:visited:hover{
  color: inherit;
}

.probtndiv {
  margin-top: 50px;
  margin-bottom: 50px;
}


.timeline-items{
  max-width: 1200px;
  padding-bottom: 120px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.timeline-items::before{
  content: "";
  position: absolute;
  width: 5px;
  height: 90%;
  background-color: var(--main-color);
  left: calc(50% - 1px);
}
.timeline-item{
  margin-bottom: 40px;
  width: 100%;
  position: relative;
}
.timeline-item:last-child{
  margin-bottom: 0;
}
.timeline-item:nth-child(odd){
  padding-right: calc(50% + 30px);
  text-align: right;
}
.timeline-item:nth-child(even){
  padding-left: calc(50% + 30px);
}
.timeline-dot{
  height: 21px;
  width: 21px;
  background-color: var(--main-color);
  box-shadow: 0 0 25px var(--main-color),0 0 50px var(--main-color);
  position: absolute;
  left: calc(50% - 8px);
  border-radius: 50%;
  top: 10px;
}
.timeline-date{
  font-size: 20px;
  font-weight: 800;
  color: white;
  margin: 6px 0 15px;
}
.timeline-content{
  background-color: var(--bg-color);
  border: 3px solid var(--main-color);
  padding: 30px 50px;
  border-radius: 4rem;
  box-shadow: 0 0 10px var(--main-color);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.timeline-content:hover{
  transform: scale(1.05);
  box-shadow: 0 0 25px var(--main-color);
}
.timeline-content h3{
  font-size: 20px;
  color: white;
  margin: 0 0 10px;
  font-weight: 500;
}
.timeline-content p{
  color: white;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}

::-webkit-scrollbar{
  width: 15px;
}
::-webkit-scrollbar-thumb{
  background-color: var(--main-color);
}
::-webkit-scrollbar-track{
  background-color: var(--bg-color);
  width: 50px;
}

.services{
  background: var(--second-bg-color);
  color: black;
}
.services h2{
  margin-bottom: 5rem;
  color: white;
}
.services-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  margin-bottom: 50px;
  gap: 2.5rem;
}
.service-box{
  background-color: var(--main-color);
  height: 300px;
  border-radius: 3rem;
  border: 5px solid transparent;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
.service-box:hover{
  background: black;
  color: white;
  border: 5px solid var(--main-color);
  transform: scale(1.03);
}
.service-box .service-info{
  display: flex;
  flex-direction: column;
  text-align: left;
  max-height: 200px;
  justify-content: left;
  align-items: baseline;
  padding: 5rem 5rem;
}
.service-info h4{
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 2;
}
.service-info p{
  font-size: 1.6rem;
  font-weight: 600;
  max-height: 100px;
  line-height: 1.7;
  margin: auto;
}
.testimonials{
  background: var(--second-bg-color);
}
.testimonials-box{
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.testimonials .heading{
  margin-bottom: 5rem;
}
.testimonials-box img{
  width: 15rem;
  border-radius: 50%;
  border: 3px solid var(--main-color);
  box-shadow: 0 0 25px var(--main-color);
}
.wrapper{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 3rem ;
}
.testimonial-item{
  min-height: 40px;
  max-width: 450px;
  background: rgba(0, 0, 0, 0.7);
  border: 3px solid rgba(238, 238, 238, 0.2);
  border-radius: 2rem;
  margin: 0 2rem;
  padding: 50px 50px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1.5rem;
  color: white;
  transition: 0.4s ease-in-out;
}
.testimonial-item:hover{
  border: 3px solid var(--main-color);
  transform: translateY(-10px)scale(1.03);
  box-shadow: 0 0 50px var(--main-color);
}
.testimonial-item h2{
  font-size: 2.2rem;
}
.testimonial-item p{
  font-size: 1.3rem;
}
#star{
  color: var(--main-color);
  font-size: 2rem;
}
.contact{
  background-color: var(--bg-color);
}
.contact h2{
  margin-bottom: 3rem;
  color: white;
}
.contact form{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin: 5rem auto;
  text-align: center;
}
.contact form .input-box{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.contact form .input-box input,.contact form textarea{
  width: 100%;
  padding: 2.5rem;
  font-size: 1.8rem;
  color: var(--text-color);
  background: var(--bg-color);
  border-radius: 2rem;
  border: 2px solid var(--main-color);
  margin: 1.5rem 0;
  resize: none;
}
.contact form .btn{
  margin-top: 2rem;
}
.footer{
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 40px 0;
  background-color: var(--bg-color);
}
.footer .social{
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 3px;
  padding-bottom: 25px;
  color: var(--main-color);
}
.footer .social a{
  font-size: 25px;
  color: var(--main-color);
  border: 2px solid var(--main-color);
  width: 42px;
  height: 42px;
  line-height: 42px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 10px;
  transition: 0.3s ease-in-out;
}
.footer .social a:hover{
  transform: scale(1.2)translateY(-10px);
  background-color: var(--main-color);
  color: black;
  box-shadow: 0 0 25px var(--main-color);
}
.footer ul{
  margin-top: 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
  text-align: center;
}
.footer ul li a{
  color: white;
  border-bottom: 3px solid transparent;
  transition: 0.3s ease-in-out;
}
.footer ul li a:hover{
  border-bottom: 3px solid var(--main-color);
}
.footer ul li{
  display: inline-block;
  padding: 0 15px;
}
.footer .copyright{
  margin-top: 50px;
  text-align: center;
  font-size: 16px;
  color: white;
}

@media(max-width:1200px){
  html{
    font-size: 55%;
  }
    .section-inner.home{
    padding: 0% 7%;
  }
  
  .services-container{
    padding-bottom: 7rem;
    grid-template-columns: repeat(2,1fr);
    margin: 0 5rem;
  }
  .slider-track {
  display: flex;
  gap: 40px;
  padding: 30px;
}
}

@media(max-width:1024px){
   header{
    padding: 2rem 3%;
  }
  .section-inner.home{
    padding: 0% 7%;
  }
 
  .timeline-item:nth-child(odd),
  .timeline-item:nth-child(even){
    padding-left: 35px;
    padding-right: 28px;
  } 
  .timeline-items::before{
    left: 7px;
  }
  .timeline-date{
    text-align: left;
  }
  .timeline-dot{
    left: 0;
  }
  .services {
    padding-bottom: 7rem;
  }
  .testimonials .wrapper{
    grid-template-columns: repeat(1, 1fr);
  }
  .contact form {
    flex-direction: column;
  }
  .footer{
    padding: 2rem 3%;
  }
}

@media(max-width:767px){

      * {
    -webkit-tap-highlight-color: transparent;
  }
  *:focus {
    outline: none !important;
    box-shadow: none !important;
  }

  .slider-btn {
    display: none;
  }

  #menu-icon{
    display: block;
  }
  .home-content{
    padding: 0% 7%;
    margin-top: 0%;
  }
  .navbar{
    position: absolute;
    top: 100%;
    right: 0;
    width: 50%;
    padding: 1rem 3%;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(20px);
    border-bottom-left-radius: 2rem;
    border-left: 2px solid var(--main-color);
    border-bottom: 2px solid var(--main-color);
    display: none;
  }
  .timeline-item:nth-child(odd),
  .timeline-item:nth-child(even){
    padding-left: 35px;
    padding-right: 28px;
  } 

  .active{
    display: block;
  }

  .timeline-items{
    padding-bottom: 50px;
  }
  .services{
    padding-bottom: 0%;
  }

  .navbar a{
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
    color: white;
  }
  .home{
    flex-direction: column-reverse;
    gap: 8rem;
  }
  .home-content h3{
    font-size: 2.6rem;
  }
  .home-content h1{
    font-size: 5rem;
    margin-top: 3rem;
  }
  .home-content p{
    max-width: 600px;
    margin: 0 auto;
  }
  .home-img img{
    width: 56vw;
  }
  .services h2{
    margin-bottom: 3rem;
  }
  .services-container {
    grid-template-columns: repeat(1,1fr);
  }
}

@media(max-width:480px){

      * {
    -webkit-tap-highlight-color: transparent;
  }
  *:focus {
    outline: none !important;
    box-shadow: none !important;
  }

  .card {
    transition: none !important;
    transform: none !important;
  }

  .slider-container {
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}
  .slider-btn {
    display: none;
  }
  .service-box .service-info{
    padding: 2rem;
  }
  .home{
    gap: 7rem;
  }
  .home-img img{
    width: 100%;
    top: 3rem;
  }
  .services-container{
    padding-bottom: 5rem;
  }
  div.home-content{
    padding: 0% 7%;
  }

  div.home-content h1{
    font-size: 5rem;
  }
  h2.heading{
    font-size: 5rem;
  }
  .timeline-item:nth-child(odd),
  .timeline-item:nth-child(even){
    padding-left: 35px;
    padding-right: 28px;
  }
  form {
    padding: 5%;
  }
}